<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stt.springbootframework.dao.DemoItemMapper">
  <resultMap id="BaseResultMap" type="com.stt.springbootframework.entity.DemoItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
  </resultMap>
  <!-- 查询简单的信息 -->
  <select id="queryDemoItemByIdCustom" resultType="com.stt.springbootframework.entity.DemoItem"
          parameterType="java.lang.String" >
    select
      *
    from
      demo_item
    where
      id = #{id,jdbcType=VARCHAR}
  </select>
</mapper>